{% extends "base.html" %}

{% block title %} Cars {% endblock %}

{% block content %}

    <div class="container">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>NUMER WEWNĘTRZNY</th>
                <th>PRZEBIEG</th>
                <th>DATA PRZEGLĄDU SERWISOWEGO</th>
                <th>DATA PRZEGLĄDU TECHNICZNEGO</th>
                <th>OPCJE</th>
            </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                <tr>
                    <td>{{ car.car_number }}</td>
                    <td>{{ car.car_mileage }}</td>
                    <td>{{ car.car_service_inspection_date }}</td>
                    <td>{{ car.car_technical_inspection_date }}</td>
                    <td>
                        <a href="{% url 'cars:car_details' car.id %}">
                            <button type="button" class="btn btn-success header_button_link"><i class="bi bi-eye"></i></button>
                        </a>

                        <a href="{% url 'cars:car_edit' car.id %}">
                            <button type="button" class="btn btn-primary header_button_link"><i class="bi bi-pencil-square"></i></button>
                        </a>

                        <a href="{% url 'cars:car_delete' car.id %}">
                            <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></i></button>
                        </a>
                    </td>
                </tr>

                {% endfor %}
    </tbody>
  </table>

    <div class="d-flex justify-content-end">
            <a class="header_button_link" href="{%  url 'cars:car_create' %}">
                <button type="button" class="btn btn-success add_button header_button_link">DODAJ</button>
            </a>
    </div>
    </div>



{% endblock %}
