{% extends "base.html" %}

{% block title %} {{ car.car_number }} {% endblock %}

{% block content %}
    <div class="container mt-3">
        <table class="table">
            <tr>
                <th>NUMER WEWNĘTRZNY</th>
                <td>{{ car.car_number }}</td>
            </tr>
            <tr>
                <th>PRZEBIEG</th>
                <td>{{ car.car_mileage }}</td>
            </tr>
            <tr>
                <th>DATA PRZEGLĄDU SERWISOWEGO</th>
                <td>{{ car.car_service_inspection_date }}</td>
            </tr>
            <tr>
                <th>DATA PRZEGLĄDU TECHNICZNEGO</th>
                <td>{{ car.car_technical_inspection_date }}</td>
            </tr>
            <tr>
                <th>OPIS</th>
                <td>{{ car.car_content }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
