{% extends 'base.html' %}

{% block title %} Usuń pojazd {{ car.car_number }} {% endblock %}

{% block content %}
    <div class="container">
        Czy napewno chcesz usunąć pojazd nr {{ car.car_number }}?
        <p></p>
        <div class="btn-group">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">USUŃ</button>
        </form>
        </div>

        <div class="btn-group">
            <a href="{% url 'cars:car_list_all' %}">
                <button type="button" class="btn btn-primary">COFNIJ</button>
            </a>
        </div>
    </div>

{% endblock %}